.hover_group:hover {
  opacity: 1;
}

.hover_group:hover .shading {
  opacity: 0.7;
}

#cell {
  position: relative;
  width: 100%;
  padding-bottom: 73%;
  margin: 0;
  background-image: url(https://iiif.wellcomecollection.org/image/B0008393.jpg/full/2048%2C/0/default.jpg);
  background-size: cover;
}
#cell svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
#cell svg text {
  font-weight: 700;
}

a.glossary-term {
    text-decoration: none !important;
    color: inherit;
    background-color: #C5E1A5;
}

figure {
    text-align: center !important;
}

figcaption {
    display: inline-block;
    clear: left;
    margin: .5em 0px;
    font-style: normal;
    text-align: left !important;
    color: #000;
    background: #eee;
    font-size: .8em !important;
    line-height: 1.5em;
    max-width: 50%;
    padding: .5em;
    border: 1px solid #000;
}

/* GLOSSARY TOOLTIPS */

[class*="glossary-term"] {
  position: relative;
  display: inline-block;
}
  [class*="glossary-term"]:before, [class*="glossary-term"]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    transition-delay: 0ms; }
  [class*="glossary-term"]:hover:before, [class*="glossary-term"]:hover:after {
    visibility: visible;
    opacity: 1; }
  [class*="glossary-term"]:hover:before, [class*="glossary-term"]:hover:after {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms; }
  [class*="glossary-term"]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001; }
  [class*="glossary-term"]:after {
    background: #383838;
    color: white;
    padding: 8px 10px;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 12px;
    white-space: nowrap; }
  [class*="glossary-term"][title]:after {
    content: attr(title); }
  [class*="glossary-term"][data-hint]:after {
    content: attr(data-hint); }

[title='']:before, [title='']:after,
[data-hint='']:before,
[data-hint='']:after {
  display: none !important; }

.glossary-term:before {
  border-top-color: #383838; }

.glossary-term:before {
  margin-bottom: -11px; }

.glossary-term:before, .glossary-term:after {
  bottom: 100%;
  left: 50%; }

.glossary-term:before {
  left: calc(50% - 6px); }

.glossary-term:after {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%); }

.glossary-term:hover:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px); }

.glossary-term:hover:after {
  -webkit-transform: translateX(-50%) translateY(-8px);
  -moz-transform: translateX(-50%) translateY(-8px);
  transform: translateX(-50%) translateY(-8px); }

.glossary-term:after {
  white-space: normal;
  line-height: 1.4em;
  word-wrap: break-word; }

.glossary-term:after {
  width: 150px; }
  
.glossary-term:before, .glossary-term:after {
  -webkit-transition-duration: 0ms;
  -moz-transition-duration: 0ms;
  transition-duration: 0ms; }